@model WowForum.Models.APIReturnModels.CharacterInfoAPIModel
@{
    ViewBag.Title = "CharacterDisplay";
}
@Styles.Render("~/Content/CharDisplay.css")
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<h2 class="text-center">Is this you?</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-sm-6 col-lg-offset-4">
            <div class="card hovercard">
                @if (Model.recodedFaction == "Horde")
                {
                    <div class="cardheaderhor">
                    </div>
                }
                else
                {
                    <div class="cardheaderall">
                    </div>
                }

                <div class="avatar">
                    <img alt="" src="@Model.recodedThumbnail">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="">@Model.name</a>
                    </div>
                    <div class="desc">@Model.realm</div>
                    <div class="desc">@Model.recodedRace</div>
                    <div class="desc">@Model.recodedClass</div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="text-center">
    <div class="btn-group">
        <a href="@Url.Action("NewUserForm", "Login")" class="btn btn-primary">Yes</a>
        <a href="@Url.Action("CharacterForm", "Character")" class="btn btn-danger">No</a>
    </div>
</div>
