@model 


@{
    ViewBag.Title = "NewUser";
}

<h2>NewUser</h2>

<form id="register-form" action="http://localhost:55601/Home/NewUser" method="post" role="form" style="display: none;">
    <div class="form-group">
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Username", tabindex = "1" })
        @*<input type="text" name="name" id="username" tabindex="1" class="form-control" placeholder="Username" value="@Model.Name">*@
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email Address", tabindex = "1" })
        @*<input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="@Model.Email">*@
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    <div class="form-group">
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", tabindex = "2" })
        @*<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" value="@Model.Password">*@
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <div class="form-group">
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password", tabindex = "2" })
        @*<input type="password" name="confirmpassword" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password" value="@Model.ConfirmPassword">*@
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
            </div>
        </div>
    </div>
</form>

